<div class="jumbotron">
  <h1>Category</h1>
  <p>
    Dibuat untuk keperluan sehari-hari
  </p>
</div>



<div class="row marketing">

	<form>
		<div class="form-group">
			<label for="inputName" class="control-label">Name</label>
			<input type="text" class="form-control" id="inputName" placeholder="Name">
		</div>
		<div class="form-group">
			<label for="inputParent" class="control-label">Parent</label>
			<select class="form-control" id="inputParent" placeholder="Parent">
				<option>Uncategorized</option>
				<option>News</option>
				<option>Tutorial</option>
				<option>Image</option>
			</select>
		</div>
		<div class="form-group">
			<div class="">
				<button type="submit" class="btn btn-default">submit</button>
			</div>
		</div>
	</form>


</div>