<div class="jumbotron">
  <h1>Nasi Kuning CMS</h1>
  <p>
    Dibuat untuk keperluan sehari-hari
  </p>
</div>

<div class="row marketing">
  <h4>Post</h4>
  <p>
    Normal blog post with title and WYSIWYG content (HTML).
  </p>

  <h4>Category</h4>
  <p>
    Category of blog posts.
  </p>

  <h4>Gallery</h4>
  <p>Images upload and management.</p>


  <br>


  <pre>
                                                      /'
                                                     /
                                                    /
                                                    |_.._     _.-.
                                                    | -o-`   /-o-   \
                                                    |    '|         |
                                                    |               |
                                                    \      _        |
                                                     \   -'_`-      |
                                                      \         _.-' \
                                                       `--....-'      \
                                                         \             `\._
                                                         |\       /      .#`------.
                                                         ||    _ | -'   .#'        `\
                                                       _/.'  '        .#'            \
                                                  __..'              .#'              \
                                               _.#                  .#'
                                              /.#'              .#####
                                             /.#'            .###'.#'#.
                                             |#.          .##''  #' .###.    \
                                            .#`###.     ,##'   `###.#' `#     \
                                           .#'   `##.  ,#'   .##' `###.#'#     \
                                          #'       `#. #'..##''      `#'###     \
                                         ##.    ..#######''           .##'`#    /\
                                         # `######''.# #.           .##'   `###/  \
                                         `#        .#' `##,      ..##'##.     #
                                          `##.   ..#'    `##.  ..#'#####:F_P:#'
                                            `#####''       `####'       ```###
                                              `\`                            /
                                                \                           /

  </pre>
</div>
